<!doctype html>

<html>
  <head>
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bokeh-1.0.0.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bokeh-widgets-1.0.0.min.css">

    
    <script src="//cdn.pydata.org/bokeh/release/bokeh-1.0.0.min.js"></script>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.0.min.js"></script>

</head>
<body>
<H1>Stock Closing Price</H1>
  
{{ script|safe }}
{{ div|safe }}

</body>
</html>
